# Exploring eBay Car Sales Data

## Introduction 


To have a better Understanding of the data set used in this project, lets look at the individual data columns.

## Importing Necessary liabraries

In [332]:
import numpy as np
import pandas as pd


autos = pd.read_csv("autos.csv",encoding = "Latin-1")

In [333]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [334]:
print(autos.info())
print(autos.shape)
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB
None
(50000, 20)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [335]:
autos.isnull().sum()

dateCrawled               0
name                      0
seller                    0
offerType                 0
price                     0
abtest                    0
vehicleType            5095
yearOfRegistration        0
gearbox                2680
powerPS                   0
model                  2758
odometer                  0
monthOfRegistration       0
fuelType               4482
brand                     0
notRepairedDamage      9829
dateCreated               0
nrOfPictures              0
postalCode                0
lastSeen                  0
dtype: int64

The sample analysis above shows that the data set contains missing values in the `vehicleType`, `gearbox`, `model`, `fuelType`, `notRepairedDamage` columns.

Also `price` is of a wrong datatype, it needs to be converted to `float`

The column names use **camelcase** instead of Python's preferred **snakecase**, which means we can't just replace spaces with underscores.

At this point, the column names will be properly formatted to reflect the "snakecase" and as well renamed. This is to make this data ready for analysis and to follow standard convention.

In [336]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_PS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'not_repaired_damage', 'date_created', 'nr_of_pictures', 'postal_code',
       'last_seen']

In [337]:
#Rename the odometer column to be more descriptive
autos.rename({"odometer":"odometer_km"}, axis = 1, inplace = True)

In [338]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_PS,model,odometer_km,registration_month,fuel_type,brand,not_repaired_damage,date_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [339]:
autos.describe()

,registration_year,power_PS,registration_month,nr_of_pictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

* It is seen from the output that, the `nr_of_pictures` have all zeros as entries,`t_repaired_damage`has just two unique values and that will not be very important in our ananlysis thesame as **seller** and **offer_type**,so these columns will be dropped.

* **Price** and **odometer** have entries of type **object**. This is improper and will be converted to **int**

In [340]:
# Removing non numeric characters from `price` and converting it to `numeric`
# autos["price"] = autos["price"].str.replace("$","").str.replace(",","").astype(float)
autos["price"] = autos["price"].str.replace("$", "")
autos["price"] = autos["price"].str.replace(",", "")
autos["price"] = autos["price"].astype(float)

In [341]:
autos["price"].head()

0    5000.0
1    8500.0
2    8990.0
3    4350.0
4    1350.0
Name: price, dtype: float64

In [342]:

#Removing non numeric characters from `odometer` and converting it to `numeric`
# autos["odometer"] = autos["odometer"].str.replace(",","").str.replace("km","").astype(float)
autos["odometer_km"] = autos["odometer_km"].str.replace("km", "")
autos["odometer_km"] = autos["odometer_km"].str.replace(",", "")
autos["odometer_km"] = autos["odometer_km"].astype(float)

In [343]:
autos["odometer_km"].head()

0    150000.0
1    150000.0
2     70000.0
3     70000.0
4    150000.0
Name: odometer_km, dtype: float64

#  Exploring the Odometer and Price Columns

* Let us to some further anakysis on the **odometer and price** columns to see if there are any outliers worth removing

In [344]:
# low, high = autos["price"].quantile([0.1,0.9])
# low1,high1 = autos["odometer_km"].quantile([0.1,0.9])
print(autos["price"].unique().shape)

(2357,)

In [345]:
print(autos["price"].value_counts().head())
print("------")
print(autos["price"].value_counts().sort_index(ascending = False).head(20))

0.0       1421
500.0      781
1500.0     734
2500.0     643
1200.0     639
Name: price, dtype: int64
------
99999999.0    1
27322222.0    1
12345678.0    3
11111111.0    2
10000000.0    1
3890000.0     1
1300000.0     1
1234566.0     1
999999.0      2
999990.0      1
350000.0      1
345000.0      1
299000.0      1
295000.0      1
265000.0      1
259000.0      1
250000.0      1
220000.0      1
198000.0      1
197000.0      1
Name: price, dtype: int64

In [346]:
low, high = autos["price"].quantile([0.1, 0.9])
autos.loc[:,"price"] = autos[autos["price"].between(low,high)]

It is observerved here that the `price` column has **zero** as being the minimum which is unrealistic. Also the higest value is about


We resolve outliers by removing the the bottom

In [347]:
autos[["price"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   40162 non-null  float64
dtypes: float64(1)
memory usage: 390.8 KB

In [348]:
print(autos["odometer_km"].value_counts().sort_index())

5000.0        967
10000.0       264
20000.0       784
30000.0       789
40000.0       819
50000.0      1027
60000.0      1164
70000.0      1230
80000.0      1436
90000.0      1757
100000.0     2169
125000.0     5170
150000.0    32424
Name: odometer_km, dtype: int64

No outliers for the `odometer` hence it should be left untouched.

# Exploring the date columns

We get the distribution of values in the `date_crawled and last_seen  `

In [349]:
# Date distribution for `date_crawled` 
autos["date_crawled"].str[:10].value_counts(dropna=False, normalize = True).sort_index()

2016-03-05    0.02538
2016-03-06    0.01394
2016-03-07    0.03596
2016-03-08    0.03330
2016-03-09    0.03322
2016-03-10    0.03212
2016-03-11    0.03248
2016-03-12    0.03678
2016-03-13    0.01556
2016-03-14    0.03662
2016-03-15    0.03398
2016-03-16    0.02950
2016-03-17    0.03152
2016-03-18    0.01306
2016-03-19    0.03490
2016-03-20    0.03782
2016-03-21    0.03752
2016-03-22    0.03294
2016-03-23    0.03238
2016-03-24    0.02910
2016-03-25    0.03174
2016-03-26    0.03248
2016-03-27    0.03104
2016-03-28    0.03484
2016-03-29    0.03418
2016-03-30    0.03362
2016-03-31    0.03192
2016-04-01    0.03380
2016-04-02    0.03540
2016-04-03    0.03868
2016-04-04    0.03652
2016-04-05    0.01310
2016-04-06    0.00318
2016-04-07    0.00142
Name: date_crawled, dtype: float64

In [350]:
# Date distribution for `last_seen `
autos["last_seen"].str[:10].value_counts(dropna=False, normalize = True).sort_index()

2016-03-05    0.00108
2016-03-06    0.00442
2016-03-07    0.00536
2016-03-08    0.00760
2016-03-09    0.00986
2016-03-10    0.01076
2016-03-11    0.01252
2016-03-12    0.02382
2016-03-13    0.00898
2016-03-14    0.01280
2016-03-15    0.01588
2016-03-16    0.01644
2016-03-17    0.02792
2016-03-18    0.00742
2016-03-19    0.01574
2016-03-20    0.02070
2016-03-21    0.02074
2016-03-22    0.02158
2016-03-23    0.01858
2016-03-24    0.01956
2016-03-25    0.01920
2016-03-26    0.01696
2016-03-27    0.01602
2016-03-28    0.02086
2016-03-29    0.02234
2016-03-30    0.02484
2016-03-31    0.02384
2016-04-01    0.02310
2016-04-02    0.02490
2016-04-03    0.02536
2016-04-04    0.02462
2016-04-05    0.12428
2016-04-06    0.22100
2016-04-07    0.13092
Name: last_seen, dtype: float64

Exploring the two series shows that this data collected in **2016** only include the months of **March** and **April**

In [351]:
autos["registration_year"].describe()
# autos.columns

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

It is  observed that the minimum value is **1000** which is far back in the past even before cares were created. As well, the maximum value states **9999** which is many years into the future. This clearly shows that there are outliers in our data set.

So, let us check for the values that seperate the bottom and the top 10 percent of our data set.

In [352]:
# low, high = autos["registration_year"].quantile([0.001,0.95])

In [353]:
autos["registration_year"].value_counts().sort_index().head(40)

1000     1
1001     1
1111     1
1500     1
1800     2
1910     9
1927     1
1929     1
1931     1
1934     2
1937     4
1938     1
1939     1
1941     2
1943     1
1948     1
1950     3
1951     2
1952     1
1953     1
1954     2
1955     2
1956     5
1957     2
1958     4
1959     7
1960    34
1961     6
1962     4
1963     9
1964    12
1965    17
1966    22
1967    27
1968    26
1969    19
1970    45
1971    27
1972    35
1973    26
Name: registration_year, dtype: int64

In [354]:
autos["registration_year"].value_counts().sort_index().tail(30)

2001    2703
2002    2533
2003    2727
2004    2737
2005    3015
2006    2708
2007    2304
2008    2231
2009    2098
2010    1597
2011    1634
2012    1323
2013     806
2014     666
2015     399
2016    1316
2017    1453
2018     492
2019       3
2800       1
4100       1
4500       1
4800       1
5000       4
5911       1
6200       1
8888       1
9000       2
9996       1
9999       4
Name: registration_year, dtype: int64

Observing the year values from the `head` shows a drastic jump from  **1800** to **1910**,also, the number of counts are very limited until **1964**. Oberving from the `tail` shows an abnormal gap between **2019** and **2028** but reasonable count of car registration only ends in **2018**

So, we now filter this data to contain only car registration between between the years **1964** and **2018** such that any any registration year out of this range will simply be replaced by `NAN`

In [355]:
autos.loc[:,"registration_year"] = autos[autos["registration_year"].between(1964,2018)]

In [356]:
autos["registration_year"].describe()

count    49867.000000
mean      2003.475766
std          7.288952
min       1964.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2018.000000
Name: registration_year, dtype: float64

It is immediately noticed that the problem ealier mentioned has been removed as justified by the the descriptive statistics above.

# Exploring Price by Brand

In [357]:
autos["brand"].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'porsche', 'mini', 'toyota', 'dacia', 'nissan',
       'jeep', 'saab', 'volvo', 'mitsubishi', 'jaguar', 'fiat', 'skoda',
       'subaru', 'kia', 'citroen', 'chevrolet', 'hyundai', 'honda',
       'daewoo', 'suzuki', 'trabant', 'land_rover', 'alfa_romeo', 'lada',
       'rover', 'daihatsu', 'lancia'], dtype=object)

In [358]:
top_car_brands = autos["brand"].value_counts(normalize=True)[:6]

In [359]:
top_car_brands

volkswagen       0.21374
opel             0.10922
bmw              0.10858
mercedes_benz    0.09468
audi             0.08566
ford             0.06958
Name: brand, dtype: float64

As for the brand, *volkswagen* makes up *21%*, *opel* takes *11%*, *bmw* occupies *11%* as well, *mercedes_benz* takes up *9%*, *audi* has *9%* whereas *ford* has *7%* of the car sales on eBay.

In [360]:
brand_mean_prce = {}

for brand in top_car_brands.index:
    selected_rows = autos[autos["brand"] == brand]
    brand_price = selected_rows["price"].mean()
    brand_mean_prce[brand] = int(brand_price)
    
print(brand_mean_prce)

{'volkswagen': 4127, 'opel': 2984, 'bmw': 5340, 'mercedes_benz': 4860, 'audi': 5282, 'ford': 3196}

On average top cars and their cost is shown below

|car|mean_price|
|---|------|
|volkswagen|4,127|
|opel|2,984|
|bmw|5,340|
|mercedes_benz|4,860|
|audi|5,282|
|ford|3,196|

# Storing Aggregate Data in a DataFrame

* Here, we aggregate the the price and odometer of the cars per brand. The purpose of doing this is to see if there exist any relationship between mileage and the mean price of the top brand cars available on eBay

In [361]:
brand_mean_prce = pd.Series(brand_mean_prce).sort_values(ascending = False)
pd.DataFrame(brand_mean_prce,columns=["mean_price"])

               mean_price
bmw                  5340
audi                 5282
mercedes_benz        4860
volkswagen           4127
ford                 3196
opel                 2984

In [368]:
brand_mean_mileage = {}

for brand in top_car_brands.index:
    selected_rows = autos[autos["brand"] == brand]
    brand_age = selected_rows["odometer_km"].mean()
    brand_mean_mileage[brand] = int(brand_age)
print(brand_mean_mileage)

{'volkswagen': 128955, 'opel': 129298, 'bmw': 132521, 'mercedes_benz': 130886, 'audi': 129643, 'ford': 124131}

In [372]:
brand_mean_mileage = pd.Series(brand_mean_mileage).sort_values(ascending = False)
brand_information = pd.DataFrame(brand_mean_mileage,columns=["mean_mileage"])
brand_information

               mean_mileage
bmw                  132521
mercedes_benz        130886
audi                 129643
opel                 129298
volkswagen           128955
ford                 124131

In [375]:
# pd.DataFrame(brand_mean_prce,brand_mean_mileage, columns= ["mean_price","mile_age"])

brand_information["mean_price"] = brand_mean_prce

brand_information

               mean_mileage  mean_price
bmw                  132521        5340
mercedes_benz        130886        4860
audi                 129643        5282
opel                 129298        2984
volkswagen           128955        4127
ford                 124131        3196

This display clearly shows that mean mileage varies very less with respect to the mean price for the top car brands.